<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>Post Something</h1>
<h1>Say Something</h1>
<form action="/blog" method="post">
    <!-- Action spicfies where data is sent-->
    <input type="text" name="name" placeholder="What is your name?">
    <br>
    <input type="email" name="email" placeholder="What is your Email?">
    <br>
    <textarea name="msg" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Post">

</form>
</body>
</html>