<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XYZ LIMITED</title>
    <link rel="stylesheet" href="../static/Style.css">
    <!--CSS:
    1. Inline
    2. Internal
    3.-->

</head>
<body id="body1">
<center>
<a href="">HOME</a>
<a href="/products">PRODUCTS</a>
<a href="/services">SERVICES</a>
<a href="">CONTACT US</a>
<a href="">JOIN US</a>
</center>
    <h1>Welcome to XYZ Limited</h1>
    <h4>Your company Tag line goes here</h4>
    <h6>Sign Up Today :-)</h6>
    <img src="../static/images/image1.jpeg"  width="500" alt="Dog A"> <!-- go back , open static folder and open the image file-->

    <h2>Welcome Mesages</h2>
    <p id="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<!---our mission, our vision-->

    <img src="../static/images/image2.jpeg"  width="500" alt="Dog B">
    <h2>Our Mission</h2>
    <p id="p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <img src="../static/images/image3.jpeg"  width="500" alt="Dog C">

    <h2 class="a">Our Vision</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <img src="../static/images/image4.jpeg"  width="500" alt="Dog D">
<!--define a route for products and return its templates-->
<p id="t">

</p>
<table>
   <tr id="r1"></tr>
    <tr id="r2"> </tr>
    <tr id="r3"></tr>
    <tr id="r4"></tr>
    <tr></tr>
</table>
</body>
</html>