<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/boots/css/bootstrap.css">
    <link rel="stylesheet" href="../static/indes.css">
<!Google: Bootstrap Cheat sheet -->
</head>
<body>
<nav class="navbar navbar-expand-md">
    <a href="" class="navbar-brand">Global Leadership Program</a>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">Partners</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact Us</a></li>
    </ul>
</nav>
<header>
   <h3 class="header text-center" style="padding: 2px" id="h31">About Us</h3>
    <p class="text-center text-secondary">Advancing Humanity Through Training</p>
</header>
    <section class="row">
        <div class="col-md-4" >
             <img src="../static/images/glp.png" width="800" height="400" class="img-fluid rounded">
        </div>
<br>
        <div class="col-md-8"><p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores aspernatur assumenda distinctio dolor dolorum, eius esse fugiat id molestiae, non officia omnis, praesentium qui quis quod recusandae vitae voluptate.<p/>
        <P class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur debitis ducimus eius, harum incidunt ipsa iusto laudantium minima officiis, omnis quia ullam vero? Adipisci in iste molestiae nam perspiciatis?</P>
        <a href="" class="btn btn-outline-info">Read more</a>
        <a href="" class="btn btn-outline-success">Join</a>
            <a href="" class="btn btn-outline-light">Add to interests</a>
        </div>
    </section>
<br>
<header>
   <h3 class="header text-center" style="padding: 2px" id="h31">Courses</h3>
 <p class="text-center text-secondary">Choose from our main categories</p>
</header>
<section class="row">
    <div class="col-md-4">
        <img src="../static/images/eng.png" class="img-fluid img-thumbnail">
        <h2 class="text-warning">Engineering</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at, dolor ea eius magnam necessitatibus, nemo, pariatur placeat possimus quas rem repellat tempora. Nam natus nostrum quam sapiente ut. Expedita.</p>
        <a href="" class="btn btn-info">Read more</a>
    </div>
    <div class="col-md-4">
        <img src="../static/images/plant.png" class="img-fluid img-thumbnail" size="10%">
        <h2 class="text-warning">Agriculture</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor eum qui quisquam tempore totam. Consequatur dolore doloribus facilis illo in ipsam iure laborum molestiae nihil, obcaecati provident quibusdam sit vitae.</p>
        <a href="" class="btn btn-info">Read more</a>
    </div>
    <div class="col-md-4">
        <img src="../static/images/logistics.png" class="img-fluid img-thumbnail" size="10%">
        <h2 class="text-warning">Logistics</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci alias architecto, asperiores delectus dolore dolorem et, ex facere iusto nisi officiis, omnis praesentium quas quod recusandae repellat soluta unde.</p>
        <a href="" class="btn btn-info">Read more</a>
    </div>
</section>
<header>
   <h3 class="header text-center" style="padding: 2px" id="h31">Alumni</h3>
 <p class="text-center text-secondary">GLP fellows impacting their communities</p>
</header>
<section class="row">
    <div class="col-md-4">
    <div class="card ">
        <img class="img-fluid" src="../static/images/sheila.png">
    <div class="card-body">
        <h2 class="card-title">Sheila Oigara</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dolorum facilis hic iste libero maiores nam nesciunt non optio provident quo ratione, recusandae, repellendus similique suscipit vitae! Eos.</p>
    </div>
        </div>
        </div>

    <div class="col-md-4">
    <div class="card ">
        <img class="img-fluid" src="../static/images/luseno.png">
    <div class="card-body">
        <h2 class="card-title">Luseno Kamau</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dolorum facilis hic iste libero maiores nam nesciunt non optio provident quo ratione, recusandae, repellendus similique suscipit vitae! Eos.</p>
    </div>
        </div>
        </div>

    <div class="col-md-4">
    <div class="card ">
        <img class="img-fluid" src="../static/images/ruth.png">
    <div class="card-body">
        <h2 class="card-title">Ruth Achieng</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dolorum facilis hic iste libero maiores nam nesciunt non optio provident quo ratione, recusandae, repellendus similique suscipit vitae! Eos.</p>
    </div>
        </div>
        </div>
</section>
<section class="row" style="padding: 1%">
    <div class="col-md-4">
    <div class="card ">
        <img class="img-fluid" src="../static/images/snaida.png">
    <div class="card-body">
        <h2 class="card-title">Snaida Akinyi</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dolorum facilis hic iste libero maiores nam nesciunt non optio provident quo ratione, recusandae, repellendus similique suscipit vitae! Eos.</p>
    </div>
        </div>
        </div>

    <div class="col-md-4">
    <div class="card ">
        <img class="img-fluid" src="../static/images/you.png">
    <div class="card-body">
        <h2 class="card-title text-center">You!</h2>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque cupiditate dolorum facilis hic iste libero maiores nam nesciunt non optio provident quo ratione, recusandae, repellendus similique suscipit vitae! Eos.</p>
    </div>
        </div>
        </div>
</section>
<section class="row"><div class="col-md-8">
<header class="">
     <h3 class="header text-center" style="padding: 2px" id="h31">Intakes</h3>
 <p class="text-center text-secondary">Check on-going intakes for various regions</p>
</header>
    </div>
    <div class="col-md-4">
<h3 class="header text-center" style="padding: 2px" id="h31">Location</h3>
        <p class="text-center text-secondary">Visit Us!</p>
    </div>
    </section>
<section class="row">
    <div class="col-md-8">
        <table class="table border-dark">
           <thead>
           <tr>
                    <th>Program</th>
                    <th>Region</th>
                    <th>Application Deadline</th>
                </tr>
           </thead>
            <tbody>
           <tr >
               <td aria-rowspan="3">Engineering</td>
               <td>Nairobi, Mombasa, Kericho</td>
               <td>23rd September</td>
           </tr>
            <tr>
               <td>Agriculture</td>
               <td>Kiambu</td>
               <td>1st October</td>
           </tr>
            <tr>
               <td>Logistics</td>
               <td>Kisumu</td>
               <td>23rd September</td>
           </tr>
            </tbody>
        </table>
    </div>
<div class="col-md-4 align-content-center">

         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1670.6143334307221!2d36.866635959301554!3d-1.3302691844458379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f11f66f8dcd9f%3A0x6e2dc3757bb23b4c!2sSameer+Business+Park!5e0!3m2!1sen!2ske!4v1537437573807" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
<header class="">
     <h3 class="header text-center" style="padding: 2px" id="h31">We'll be glad to hear from you</h3>
 <p class="text-center text-secondary">Leave a comment or ask a question</p>
</header>
<section>
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <form action="" role="form">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email">
        </div>
             <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your name">
        </div>
            <div class="form-group">
                <p class="text-secondary">Your message:</p>
            <textarea  class="form-control" placeholder="Your message">
            </textarea></div>
            <div><input type="submit" value="Post" class="btn-info"></div>
    </form></div>
</section>
   <br>
<section class="row" style="padding: 2%" id="b">
    <div class="col-md-4">
        <ul class="list-group">
            <header>
   <h4 class="header text-info" style="padding: 2px">Partners</h4>
</header>
            <p class=" text-info " >ICT Authority</p>
            <p class=" text-info " >World Bank</p>
            <p class=" text-info " >KYEOP</p>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="list-group">
            <header>
   <h4 class="header  text-info" style="padding: 2px" id="h32">Contact Us</h4>
</header>
            <p class=" text-info " >info@myglp.org</p>
            <p class=" text-info " >+254714660108</p>
            <p class=" text-info " >6th Floor Confitest Towers</p>
        </ul>
    </div>

     <div class="col-md-4 align-content-center">
        <h4 class="header  text-info" style="padding: 2px" id="h32">Newsletter Sign Up</h4>
        <p class="text-info ">To receive updates on the GLP program, subscribe below</p>
        <a href="" class="btn btn-info " >Subscribe</a>
    </div>

    </section>
</body>
</html>