<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<center>
<a href="http://127.0.0.1:5000/home">HOME</a>
<a href="">PRODUCTS</a>
<a href="/services">SERVICES</a>
<a href="">CONTACT US</a>
<a href="">JOIN US</a>
</center>
Karibu! Choose from our wide range of products!
<section>
<ol type="I">
    <li>Fruits:</li>
        <ul>
        <li>Apples</li>
        <li>Oranges</li>
        <li>bananas</li>
        </ul>
    <li>Cereals:</li>
    <ul>
        <li>Millet</li>
        <li>Rice</li>
        <li>Wheat</li>
        </ul>
    <li>Nuts:</li>
    <dl>
        <dt>Almonds</dt>
        <dd>Almonds contain lots of healthy fats, fiber, protein, magnesium and vitamin E</dd>
        <dt>Peanuts</dt>
        <dd>The major difference between nuts and peanuts is that nuts grow on tress whereas peanuts grow underground.</dd>
        <dt>Pecans</dt>
        <dd>Pecans contain numerous antioxidants including ellagic acid, vitamin A and vitamin E</dd>
        </dl>
    <li>Vegetables:</li>
</ol>
    </section>
</body>
</html>