<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our services</title>
</head>
<body id="body2">
<table border="1" width="100%" >
  <tr align="CENTER"><th>Type</th>
  <th class="a" >Cost</th>
  <th class="a" >Availability</th>
  </tr>
    <tr align="CENTER"><td>Booking</td><td>2USD</td><td>Available</td></tr>
       <tr align="CENTER"><td>Delivery</td><td>6USD</td><td>Available</td></tr>
    <tr align="JUSTIFY"><td>Loan</td><td>2% PA</td><td>Unavailable until 1st October</td></tr>
</table>
</body>
</html>